*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282828;
    font-family: Poppins, sans-serif;
    color: white;
}


header{
    font-size: 2rem;
    padding-top: 30px;
    margin-bottom: 10px;
}

form, header{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0%;
    right: 2%;
    z-index: 5;
}

form input{
    outline: none;
    margin-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

form button{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    color: #282828;
    cursor: pointer;
    padding-right: 15px;
    transition: all 0.5s ease;
}
form button:hover{
    background-color: #282828;
    color: white;
}

form input, button{
    padding: 8.4px;
    font-size: 1.4rem;
    font-weight: 50;
    border: none;
    opacity: 0.93;
}
.todo-input, .todo-button{
    padding-left: 10px;
    transition: all 0.3s;
}
.todo-input:hover, todo-button:hover{
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 50%;
    list-style: none;
}
.todo{
    margin: 20px;
    margin-right: 0;
    border-radius: 18px;
    background-color: white;
    color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
    padding-left: 10px;
}
.trbtn{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.trbtn,.checkbtn,.editbtn{
    background-color: white;
    font-size: 1.1rem;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.5s ease;
}

.trbtn:hover,.checkbtn:hover,.editbtn:hover{
    background-color: #282828;
    color: white;
}

.fa-trash,
.fa-edit,
.fa-check{
    pointer-events: none;
}

.complete{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    /* transform: translate3d(8rem) rotatez(20deg); */
    transform: translateY(8rem) rotatez(20deg); 
    opacity: 0;
}

select{
    appearance: none;
    outline: none;
    border: none;
}
select{
    width: 9rem;
    cursor: pointer;
    color: #282828;
    padding: 0.8rem;
    border-radius: 22px;
    font-size: 1rem;
}
.select{
    margin: 1rem;
    margin-right: 0;
    position: relative;
    overflow: hidden;
}
.select::after{
    content: "\25BC";
    position: absolute;
    color: #282828;
    background: white;
    top: 0;
    right: 0;
    padding: 1rem;
    padding-top: 0.59rem;
    padding-bottom: 0.66rem;
    pointer-events: none;
    border-top-right-radius: 18px; 
    border-bottom-right-radius: 18px;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: #282828;
    color: white;
}


.editinput,.todo-item{
    outline: none;
    font-size: x-large;
    border: none;
}

#loadinganimate{
    background: #000 url(loading.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}